.customerDescription {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}

.customerDetails{
  padding: 0 1vw;
  width: 25vw;
  height: 25vh;
  margin: 0 0 1px 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  
}

.selected {
  background-color: #eeeeee;
  border-right: #000 solid 1px;
}